<header class="header row box2">
  {% include logo-dark.html %}
  <div>
    <span class="time">{{ site.date }}</span>
    <span>Social icons</span>
    <nav class="nav">
      <a href="#speakers">Speakers</a>
      <span class="separator">//</span>
      <a href="#schedule">Schedule</a>
      <span class="separator">//</span>
      <a href="#workshops">Workshops</a>
      <span class="separator">//</span>
      <a href="#sponsors">Sponsors</a>
    </nav>
  </div>
  <a class="cta" href="">Reserve Your Spot</a>
</header>
