<header class="header row box2">
  {% include logo-dark.svg %}
  <div>
    <span class="time">{{ site.date }}</span>
    <span class="social">
      {% for link in site.social %}
      <a href="{{ link.url }}" title="{{ link.alt }}">{% include {{ link.icon | append: ".svg" }} %}</a>
      {% endfor %}
    </span>
    <nav class="nav">
      <a href="#speakers">Speakers</a>
      <span class="separator">//</span>
      <a href="#schedule">Schedule</a>
      <span class="separator">//</span>
      <a href="#workshops">Workshops</a>
      <span class="separator">//</span>
      <a href="#sponsors">Sponsors</a>
    </nav>
  </div>
  <a class="cta hide-lg" href="">Reserve Your Spot</a>
</header>
