<header class="header row box2">
  {% include logo-dark.svg %}
  <div>
    <span class="date">{{ site.date }}</span>
    {% include social.html %}
    <nav class="nav">
      <a href="#speakers">Speakers</a>
      <span class="separator">//</span>
      <a href="#schedule">Schedule</a>
      <span class="separator">//</span>
      <a href="#workshops">Workshops</a>
      <span class="separator">//</span>
      <a href="#sponsors">Sponsors</a>
    </nav>
  </div>
  <a class="cta hide-lg" href="{{ site.registration }}">Reserve Your Spot</a>
</header>
