---
title: Functions17
layout: default

speakers:
  - name: Kassandra Perch
    company: IOpipe
    image: kassandra
  - name: Keith Horwood
    company: stdlib
    image: keith
  - name: Joe Raio
    company: Microsoft
    image: joe
  - name: Chris Munns
    company: Amazon Web Services
    image: chris
  - name: Adib Saikali
    company: Pivotal
    image: adib
  - name: Stuart Charlton
    company: Pivotal
    image: stuart
  - name: Adrian Maurer
    company: CGI
    image: adrian
  - name: Darcy Clarke
    company: JS Foundation
    image: darcy
  - name: Daniel Krook
    company: IBM
    image: daniel

schedule:
  - speaker: Doors Open &amp; Breakfast
    start-time: "9:00 AM"
    end-time: "10:30 AM"
    icon: coffee
  - speaker: Ahmad Nassri
    start-time: "9:50 AM"
    end-time: "11:30 AM"
    summary: Kickoff &amp; Opening Notes
    image: ahmad
  - speaker: Kassandra Perch
    start-time: "10:00 AM"
    end-time: "11:30 AM"
    summary: "FaaS tooling: Where we're at &amp; signs of change"
    image: kassandra
  - speaker: Keith Horwood
    start-time: "10:45 AM"
    end-time: "11:30 AM"
    summary: "Functions-first development: Introduction to FaaSland"
    image: keith
  - speaker: Joe Raio
    start-time: "11:30 AM"
    end-time: "11:30am"
    summary: Building Serverless Applications on Azure
    image: joe
  - start-time: "12:15 PM"
    end-time: "11:30am"
    summary: Lunch Break
    icon: lunch
  - speaker: Chris Munns
    start-time: "01:00 PM"
    end-time: "11:30am"
    summary: Twelve Factor Serverless Applications
    image: chris
  - speaker: Adib Saikali &amp; Stuart Charlton
    start-time: "01:45 AM"
    end-time: "11:30am"
    summary: Spring Cloud Functions &amp; Infrastructure Consumption
    image: adib
  - start-time: "02:30 PM"
    end-time: "11:30am"
    summary: Break + Lightning Talks
    icon: coffee
  - speaker: Daniel Krook
    start-time: "02:45 PM"
    end-time: "11:30am"
    summary: Building serverless applications with Apache OpenWhisk
    image: daniel
  - speaker: Sandeep Dinesh
    start-time: "03:30 PM"
    end-time: "11:30am"
    summary: "Serverless Peanut Butter and Jelly: GCP &amp; Firebase"
    image: sandeep
  - summary: "Panel: A Serverless World!"
    start-time: "04:15 PM"
    icon: comments
  - summary: Networking &amp; Drinks
    start-time: "05:00 PM"
    icon: drink

sponsors:
  - name: Amazon Web Services
    image: aws
  - name: Apache OpenWhisk
    image: openwhisk
  - name: Standard Library
    image: stdlib
  - name: IO Pipe
    image: iopipe
  - name: Microsoft Azure
    image: microsoft
  - name: Firebase
    image: firebase
---

<section class="splash">
  <h1>The Serverless Conference</h1>
  <p>{{ site.description }}</p>
  <a class="cta" href="{{ site.registration }}">Register Now</a>
</section>

<div class="stripe"></div>

<section id="details">
  <h2>The Details</h2>
  <div class="details">
    <h3>Some heading placeholder</h3>
    <p class="small">Some heading contents</p>

    <h3>Some heading placeholder</h3>
    <p class="small">Some heading contents</p>

    <h3>Some heading placeholder</h3>
    <p class="small">Some heading contents</p>

    <h3>Some heading placeholder</h3>
    <p class="small">Some heading contents</p>
  </div>
</section>

<section id="speakers">
  <h2>The Speakers</h2>
  <div class="details gallery">
    {% for speaker in page.speakers %}
    <figure>
      <img src="{{ speaker.image | append: ".jpg" | prepend: site.speaker_images }}" alt="" />
      <figcaption>
        {{ speaker.name }}<br />
        {{ speaker.company }}
      </figcaption>
    </figure>
    {% endfor %}
  </div>
</section>

<div class="stripe"></div>

<section id="schedule">
  <h2>Schedule</h2>
  <div class="details gallery schedule">
    <ul>
      {% for item in page.schedule %}
      <li>
        {% if item.icon %}
        {% assign ext = '.svg' %}
        {% assign pic = item.icon %}
        {% else %}
        {% assign ext = '.jpg' %}
        {% assign pic = item.image %}
        {% endif %}
        <img src="{{ pic | append: ext | prepend: site.speaker_images }}" alt="" />
        <div class="notes">
          <span class="time">{{ item.start-time }} - {{ item.end-time }}</span>
          <span>{{ item.speaker }}</span>
          <span class="special">{{ item.summary }}</span>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<div class="stripe"></div>

<section id="sponsors">
  <h2>Sponsoring Partners</h2>
  <div class="details gallery sponsors">
    {% for sponsor in page.sponsors %}
    <div>
      <img src="{{ sponsor.image | append: '.jpg' | prepend: site.sponsor_images }}" alt="sponsor.name" />
    </div>
    {% endfor %}
  </div>
</section>

{% include footer.html %}
