---
title: Functions17
layout: default

speakers:
  - name: Kassandra Perch
    company: IOpipe
    image: kassandra
  - name: Keith Horwood
    company: stdlib
    image: keith
  - name: Joe Raio
    company: Microsoft
    image: joe
  - name: Chris Munns
    company: Amazon Web Services
    image: chris
  - name: Adib Saikali
    company: Pivotal
    image: adib
  - name: Stuart Charlton
    company: Pivotal
    image: stuart
  - name: Adrian Maurer
    company: CGI
    image: adrian
  - name: Darcy Clarke
    company: JS Foundation
    image: darcy
  - name: Daniel Krook
    company: IBM
    image: daniel

schedule:
  - speaker: Cheryl Boyega
    start-time: "9:00am"
    end-time: "10:30am"
    summary: Something about keynotes
    image: cheryl
  - speaker: Ahmad Nassri
    start-time: "10:30am"
    end-time: "11:30am"
    summary: Something about food
    image: ahmad

sponsors:
  - name: Mr Anderson
    image: anderson
---

<section class="splash">
  <h1>The Serverless Conference</h1>
  <p>{{ site.description }}</p>
  <a class="cta" href="">Register Now</a>
</section>

<div class="stripe"></div>

<section id="details">
  <h2>The Details</h2>
  <div class="details">
    <h3>Some heading placeholder</h3>
    <p class="small">Some heading contents</p>

    <h3>Some heading placeholder</h3>
    <p class="small">Some heading contents</p>

    <h3>Some heading placeholder</h3>
    <p class="small">Some heading contents</p>

    <h3>Some heading placeholder</h3>
    <p class="small">Some heading contents</p>
  </div>
</section>

<section id="speakers">
  <h2>The Speakers</h2>
  <div class="details gallery">
    {% for speaker in page.speakers %}
    <figure>
      <img src="{{ speaker.image | append: ".jpg" | prepend: site.speaker_images }}" alt="" />
      <figcaption>
        {{ speaker.name }}<br />
        {{ speaker.company }}
      </figcaption>
    </figure>
    {% endfor %}
  </div>
</section>

<div class="stripe"></div>

<section id="schedule">
  <h2>Schedule</h2>
  <div class="details gallery schedule">
    <ul>
      {% for item in page.schedule %}
      <li>
        <img src="{{ item.image | append: ".jpg" | prepend: site.speaker_images }}" alt="" />
        <div class="notes">
          <span class="time">{{ item.start-time }} - {{ item.end-time }}</span>
          <span>{{ item.speaker }}</span>
          <span class="special">{{ item.summary }}</span>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<div class="stripe"></div>

<section id="sponsors">
  <h2>Sponsoring Partners</h2>
  <div class="details gallery">
    {% for sponsor in page.sponsors %}
    <img src="" alt="" />
    {% endfor %}
  </div>
</section>

{% include footer.html %}
