---
---

@import 'normalize';
@import 'variables';
@import 'base';


// Layout

.row {
  display: flex;
}

.box2 {
  padding: 2rem;
}

// General

.page-wrapper {
  max-width: 75rem;
  margin: 0 auto;
}

// Components

.cta {
  display: inline-block;

  padding: 1rem 1.5rem;
  background-color: $orange;

  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.3;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background-color: $orange-hover;
  }
}

/**
 * SECTIONS
 */

// Header

.header {
  justify-content: space-between;

  .logo {
    max-height: 3.75rem;
  }

  .time {
    color: $blue;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .nav {
    margin-top: 0.75rem;
  }
}

.splash {
  p {
    margin-bottom: 2.75rem;
  }
}

.details {
  padding-left: 16.6rem;

  p {
    margin-bottom: 1.5rem;
  }
}
