---
---

@import 'normalize';
@import 'variables';
@import 'utilities';
@import 'base';


// Components

.cta {
  display: inline-block;

  padding: 1rem 1.5rem;
  background-color: $orange;

  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.3;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background-color: $orange-hover;
  }
}

.stripe {
  height: 8vw;
  min-height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='1440px' height='80px' viewBox='0 0 1440 80' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 %2855047%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Welcome' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Desktop-HD' transform='translate%280.000000, -582.000000%29'%3E%3Cg id='Group-2' transform='translate%28718.761353, 622.530217%29 rotate%28-3.000000%29 translate%28-718.761353, -622.530217%29 translate%28-46.738647, 620.530217%29'%3E%3Crect id='Rectangle' fill='%23345995' x='0' y='0' width='322.129755' height='3.12109954'%3E%3C/rect%3E%3Crect id='Rectangle' fill='%23E16036' x='358.542112' y='0' width='265.783626' height='3.12109954'%3E%3C/rect%3E%3Crect id='Rectangle' fill='%23F7991C' x='688.379592' y='0' width='322.129755' height='3.12109954'%3E%3C/rect%3E%3Crect id='Rectangle' fill='%23738290' x='1043.7323' y='0' width='186.048538' height='3.12109954'%3E%3C/rect%3E%3Crect id='Rectangle' fill='%23AFAFAF' x='1297.0241' y='0' width='233.889591' height='3.12109954'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/**
 * SECTIONS
 */

// Header

.header {
  @extend section;
  justify-content: space-between;

  .logo-dark {
    max-width: 100%;
    max-height: 3.75rem;
  }

  .social {
    padding-left: 1rem;

    a {
      font-size: 0;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      @include max-breakpoint(sm) {
        padding: 0.5rem 0;
      }
    }

    svg {
      width: 1rem;
      height: 1rem;
      fill: $grey;

      &:hover {
        fill: #000000;
      }
    }
  }

  .time {
    padding-left: 1rem;
    color: $blue;
    text-transform: uppercase;
    font-size: 1.5rem;

    @include max-breakpoint(sm) {
      padding-left: 0;
    }
  }

  .nav {
    margin-top: 0.75rem;
    min-width: 30rem;

    @include max-breakpoint(sm) {
      min-width: auto;
    }
  }
}

.splash {
  p {
    margin-bottom: 2.75rem;
  }
}

#details {
  .details {
    padding-left: 16.6rem;

    p {
      margin-bottom: 1.5rem;
    }
  }
}

$detailPadding: 15rem;
%caption {
  color: $grey;
  font-size: 1.25rem;
}

.details {
  padding-left: $detailPadding;

  @include max-breakpoint(md) {
    padding-left: 0 !important;
  }

  &.schedule {
    padding-left: $detailPadding + 0.5rem;

    .notes {
      span {
        display: block;
        margin-bottom: 0.5rem;

        @extend %caption;
      }

      .time {
        font-size: 1rem;
      }

      .special {
        color: $orange;
        text-transform: uppercase;
        padding-left: 0.5rem;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

// Speakers

.gallery {
  display: flex;
  flex-wrap: wrap;

  figure {
    margin: 0;
    padding: 1rem;
    width: 20%;
    min-width: 9rem;

    @include max-breakpoint(md) {
      min-width: auto;
    }
    @include max-breakpoint(sm) {
      width: calc(33% - 2rem);
    }
    @include max-breakpoint(xs) {
      width: calc(50% - 2rem);
    }

    img {
      width: 100%;
    }

    figcaption {
      @extend %caption;

      @include max-breakpoint(sm) {
        font-size: 1rem;
      }
    }
  }
}

.footer {
  background-color: $grey2;

  .container > .row {
    @extend .header;

    .time {
      color: #ffffff;
    }
  }

}
